#listHeader {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    width: 100%;
    padding: var(--space-md) var(--space-lg);

    font-size: small;
    color: var(--text-secondary);
    line-height: var(--line-height-base);

    border-bottom: var(--border-width) var(--border) solid;
}

#listFilter {
    display: flex;
    flex-direction: row;
    gap: var(--space-xs);
    flex: 1;
}

#clearFilter {
    cursor: pointer;
}

#clearFilter:hover {
    text-decoration: underline;
}

.menuItem {
    margin-left: var(--space-xs);
    
    cursor: pointer;

    transition: 0.3s ease;
}

.menuItem:hover {
    transform: scale(1.2);

    transition: 0.3s ease;
}

#list {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    overflow-y: scroll;  
    padding-bottom: var(--space-xl);
}

.date {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    
    width: 100%;
    padding: var(--space-md) var(--space-md) 0 var(--space-lg);
    margin-top: var(--space-md);

    font-size: small;
    color: var(--text-secondary);
    font-weight: 500;

    border-top: var(--border) var(--border-width) solid;
}

.date:first-of-type {
    margin-top: 0;
    border-top: none;
}

.item {
    display: flex;
    gap: var(--space-sm);
    flex-shrink: 0;

    overflow: hidden;

    padding: var(--space-sm) var(--space-lg) var(--space-sm) var(--space-lg);
    width: 100%;
}

.itemSentiment {
    width: 2rem;
    height: 2rem;

    margin-top: var(--space-xs);
}

.itemContent {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.itemText {
    width: 100%;
    max-width: 44rem;

    line-height: var(--line-height-base);
    color: var(--text-primary);
}

.itemHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

.itemData {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;

    font-size: small;
    color: var(--text-secondary);
}

.itemTag:hover {
    cursor: pointer;
    text-decoration: underline;
}

.itemDelete {
    flex-shrink: 0;

    font-size: small;
    color: var(--text-secondary);

    opacity: 0;

    cursor: pointer;
    transition: 0.3s ease;
}

.itemDelete:hover {
    transform: scale(1.2);

    transition: 0.3s ease;
}

.item:hover .itemDelete {
    opacity: 1;
}


@media (max-width: 920px) {
    #listHeader {
        padding: var(--space-md) var(--space-lg) var(--space-sm) var(--space-lg);
    }
    
    .itemDelete {
        opacity: 1;
    }

    #listFilter:hover, #clearFilter:hover, .itemTag:hover {
        text-decoration: none;
    }

    .menuItem:hover, .itemDelete:hover {
        transform: none;
    }
}